/* !IMPORTANTE este bosstrap es v5.3, ver documentacion de futuras actuañizaciones  */
/*
    * ******* Custom Propeties *******
 */
/* !En el selector :root es donde se definene las variables */
/* ?investigar paleta de colores en css */
:root {
   --first-color: #00234b;
   --first-hover-color: #0077B6;
   --first-alpha-color: #0077B6;
   --second-color: #ffffff;
   --second-alpha-color: #14192dbf;
   --third-alpha-color: #00234b;
   --link-color: #509ee3;
   --link-alpha-color: #f5f5f5bf;
   --title-color: #509ee3;

   --bg-color: #f5f5f5;
   --bg-alpha-color: #f5f5f5bf;
   --bg-image-one: url(../img/limpieza-salon.jpg);
   --bg-image-two: url(../img/limpieza-oficina.jpg);
   --bg-image-three: url(../img/limpieza-deposito.jpg);
   --bg-image-four: url(../img/limpieza-comercial.jpg);
   --bg-image-five: url(../img/limpieza-hogar.jpg);
   --bg-image-six: url(../img/limpieza-colegio.jpg);
   --bg-image-seven: url(../img/limpieza-hospital.jpg);
   --bg-image-eight: url(../img/limpieza-consorcio.jpeg);
}

/*
    * ******* Reset styles *******
 */
body {
   font-family: 'Raleway', sans-serif;
}

a {
   color: var(--link-color);
   transition: all .3s ease-out;
}

/*  footer revisar  */
.text-color {
   color: var(--second-color);
   margin-right: 0.5rem;
}

.text-color:hover {
   color: var(--first-alpha-color);
}

a:hover {
   color: var(--first-alpha-color);
}

.prueba {
   resize: none;
}

footer li {
   list-style: none;
}

/*
    * ******* Boostrap styles*******
 */
.bi-person-fill {
   font-size: 2rem;
   color: red;
}

.bg-dark {
   /* No se colocara el color seleccionado a menos que se cambie el nombre de la clase o se ultilice el !important */
   background-color: var(--second-color) !important;
   border-bottom: 1px solid gray;
}

.form-control {
   border: #509ee3 1px solid;
}

.navbar-toggler {
   background-color: var(--first-alpha-color);
}

.navbar-toggler-icon:hover {
   color: green !important;
}


li .dropdown-item {
   color: var(--first-alpha-color);
   font-weight: bold;
   /*? Que es? */
   transition: all 0.3s ease-out;
   /*? Que es? */
}

li .dropdown-item:hover {
   color: var(--third-alpha-color);
}

.dropdown-menu {
   --bs-body-bg: #fff;
   --bs-tertiary-bg: none;
   
}

.dropdown-menu li a:hover {
   color: var(--first-color);
}


.navbar-brand img {
   width: auto;
   height: 6rem;
}

.nav-item {
   transition: all 0.3s ease-out;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
   color: var(--first-hover-color);
}

.nav-link {
   margin-left: 0.5rem;
   color: var(--first-color);
   font-size: 1.15rem;
   font-weight: bold;
}


.nav-link:hover {
   color: var(--first-hover-color);
   /* variable de boostrap, se puede ver en la consola o hoja de estilo */
}

.navbar-toggler-icon {
   /* variable de bosstrap */
   /* remplazamos los datos del rgb por los nuestro stroke='rgba%28255, 255, 255, 1%29' */
   --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
   transition: all 0.3s ease-out;
   /*? Que es? */
}

.navbar-toggler-icon:hover {
   /* variable de bosstrap */
   /* remplazamos los datos del rgab por los nuestro */
   /* rgba(0,35,75,1.000) */
   --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 35, 75, 1.000)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
   opacity: 0.75;
   /* opacidad */

}

/*
    * ******* My styles *******
 */
.background-img {
   background: var(--bg-image-one);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.background-img-two {
   background: var(--bg-image-two);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.background-img-three {
   background: var(--bg-image-three);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.background-img-four {
   background: var(--bg-image-four);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.background-img-five {
   background: var(--bg-image-five);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.background-img-six {
   background: var(--bg-image-six);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.background-img-seven {
   background: var(--bg-image-seven);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.background-img-eight {
   background: var(--bg-image-eight);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.bi-check-lg {
   color: rgb(11, 213, 11);
   font-size: 1.5rem;
}

.services {
   font-size: 1rem;
   color: black;

}

.bg-color {
   background-color: var(--bg-color);
}

.bg-alpha-color {
   background-color: var(--bg-alpha-color);
}

.bg-second-alpha-color {
   background-color: var(--second-alpha-color);
}

.bg-gradient-blue-green {
   background-color: rgb(253, 253, 253);
   background-image: linear-gradient(131deg, rgb(255, 255, 255), rgb(204, 200, 200));
   /* modificar fondo */
}

.card-img-height {
   height: 18rem;
}

footer {
   background: var(--third-alpha-color);
}

.img-events {
   width: 100%;
}

.img-events img {
   max-width: 100%;
}

.info-events {
   width: 100%;
}

.info-events h2,
.title h1 {
   color: var(--title-color);
}

.img-logo {
   width: auto;
   height: 12vh;
}

.img-flayer {
   filter: brightness(50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.number {
   font-size: 1.2rem;
}

.text-flayer {
   background-image: linear-gradient(rgba(0, 0, 0, 0.656), rgba(0, 0, 0, 0.5)), url(../img/flayer.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   min-height: 80vh;
   padding: 5rem 0;
}


.text-flayer h1,
.text-flayer h2 {
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 4em;
   line-height: 8vh;
}

.text-first-color {
   color: var(--first-color);
}

.text-third {
   color: var(--third-color);
}

.whatsapp-icon {
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 100;
   opacity: 0;
   transition: opacity 0.3s ease;
   width: 4rem;
   height: 4rem;
   line-height: 4rem;
   background-color: #00DD23;
   border-radius: 50%;
   text-align: center;
   font-size: 3rem;
}

.whatsapp-icon a {
   color: #ffffff;
}


.whatsapp-icon.show {
   opacity: 1;
}
/* * Movil */
/* REVISAR PAR ANDROID */
@media screen and (min-width: 320px) and (max-width: 760px) {
   .text-flayer {
      background-image: linear-gradient(rgba(0, 0, 0, 0.656), rgba(0, 0, 0, 0.5)), url(../img/flayer.jpg);
      background-position: center;

      background-size: initial;
      background-attachment:initial;
      padding: 5rem 0;
   }

}
/** desktops, 992px*/
@media (max-width: 992px) {
   .nav-item:hover {
      background-color: transparent;
      /* se hace trasnparente el hover */
   }

   .text-flayer {
      min-height: 50vh;
   }

   .text-flayer h1,
   .text-flayer h2 {
      font-size: 2.5em;
      line-height: normal;
   }
}
